DEZHOU_API_BIND=0.0.0.0:8096
SDKWORK_DATABASE_ENGINE=postgresql
SDKWORK_DATABASE_HOST=postgres
SDKWORK_DATABASE_PORT=5432
SDKWORK_DATABASE_NAME=sdkwork_ai_prod
SDKWORK_DATABASE_SCHEMA=sdkwork_ai_prod
SDKWORK_DATABASE_USERNAME=sdkwork_ai_prod
SDKWORK_DATABASE_PASSWORD_FILE=/etc/sdkwork/database/database.secret
SDKWORK_DATABASE_SSL_MODE=require
SDKWORK_DATABASE_MAX_CONNECTIONS=20
SDKWORK_DEZHOU_APP_ROOT=.
DEZHOU_REPOSITORY_MODE=sqlx
